*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, #631251, #9198e5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pg-title{
    text-align: center;
    font-size: 50px;
    color: white;
}

.logo{
    max-width: 600px;
    margin-bottom: 24px;
}

.container-input{
    max-width: 480px;
    margin: 14px 0;
}

.container-input span{
    color:#FFF;
    font-size: 22px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: #dfdfdf;
    height: 18px;
    outline: none;
    margin-top: 8px;
}